input,
textarea,
button {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  font-family: "Courier New", Courier, monospace;
  --primary-color: #275d29;
  --font-color: rgba(255, 255, 255, 0.9);
}

.heading {
  background-color: var(--primary-color);
  text-align: center;
  color: var(--font-color);
  margin: 0;
  padding: 4px 0;
  height: 6rem;
  line-height: 6rem;
}
